.left{
    margin: 4px;
}
.right{
    margin-top:4px;
}
#fullDataPage,
#resultPage,
#favouritePage{
    padding-bottom: 70px;
}
#inpSearch{
    margin-bottom: 20px;
}
#infoCover{
    position: relative;
}
#infoText{
    position: absolute;
    top: -30px;
    left: 5px;
}