
<div id="fullDataPage">

    <h4 class="text-center">{{result.price_formatted}}</h4>
    <div class="clearfix row" >
            <div class="left pull-left">
                <img ng-src="{{result.img_url}}" alt="house photo" class="img-rounded">
            </div>
            <div class="right">

                <span>adress: <em>{{result.title}}</em></span><br><br>
                <span>brief: {{result.summary}}</span><br><br>
                <span>Listing type: <kbd>{{result.listing_type}}</kbd>, price is {{result.price_type}}</span><br>
                <br>
                <br>
                <span>{{result.bathroom_number}} bathroom, {{result.bedroom_number}} bedroom, {{result.car_spaces}} car spaces</span><br>
                <span>{{result.floor}} floor</span><br>
            </div>

        </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <button ng-click="functionGoToMainPage()" class="btn btn-info">back to main search</button>
            <button ng-click="functionGoToResultPage()" class="btn btn-success">back to results</button>
            <button ng-click="functionGoToFavesPage()" class="btn btn-warning">Faves</button>
            <div class="pull-right">
                <button ng-click="functionMoveFaves(result)" class="btn btn-warning">
                    <strong>{{favesAction}}</strong>
                </button>
            </div>

        </div>
    </nav>

</div>