<div id="mainPage">
    <h1>#09 task:<small>  "Property cross" with Angular.controllers</small></h1>

    <form>
        <div class="form-group">
            <label for="inpSearch">
                Use the form below to search for houses to buy. You can search by place-name, postcode, or click 'My location', to search in your current location!:
                <input type="text"
                       id="inpSearch"
                       ng-model="inpName"
                       ng-click="functionClearErr()"
                       class="form-control input-sm"
                />
            </label>
            <div id="infoCover">
                <p id="infoText" ng-if="errorMessage" class="text-danger">
                    <strong><em>{{inpName}}</em>  -  {{errorMessage}}</strong>
                </p>

            </div>
            <div id="controls">
                <button ng-click="functionSearch()" class="btn btn-info" >go</button>
                <button ng-click="functionGoToFavesPage()" class="btn btn-warning">Faves</button>
                <div class="pull-right">
                    <button ng-click="functionClearSearches()" class="btn btn-danger" >clear history</button>
                </div>
            </div>
        </div>
    </form>

    <div class="wrapper">
        <div id="recent">
            <p>Recent searches:</p>
            <div id="searches" ng-repeat="item in history track by $index" ng-click="functionNewSearch(item.userInput)">
                <p>
                    Search#{{$index + 1}}:
                    <strong>
                        <span ng-bind="item.userInput"></span>
                    </strong> as
                    <em><span ng-bind="item.town"></span></em>,
                    found (<span ng-bind="item.results"></span>)
                </p>
            </div>
        </div>


        <div my-map=""></div>

    </div>

    <!--<div id="map" >-->
        <!--<script >src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs0kHLAfvq9MX9hmyTXBymMKymn4dVyEQ&callback=initMap";</script>-->
        <!--&lt;!&ndash;&lt;!&ndash;https://jsfiddle.net/Xeoncross/k5c2ndyL/&ndash;&gt;&ndash;&gt;-->

    <!--</div>-->



</div>


