
<div id="favouritePage">

    <h4 class="text-center">Favourites</h4>

    <div class="container">
        <div ng-repeat="result in results" ng-click="functionGoToFullDataPage(result)">
            <div class="clearfix row" >
                <div class="left pull-left">
                    <img ng-src="{{result.img_url}}" alt="house photo" style="height:70px" class="img-rounded">
                </div>
                <div class="right">
                    <span class="text-right text-info">{{result.price_formatted}}</span><br>
                    <span>adress: <em>{{result.title}}</em></span><br>
                    <span>brief: {{result.summary}}</span>
                </div>

            </div>
        </div>

    </div>


    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <button ng-click="functionGoToMainPage()" class="btn btn-info">back to main search</button>
            <button ng-click="functionAddResultsToPage()" class="btn btn-success" ng-show="restResults">load more</button>
        </div>
    </nav>



</div>